.item-content {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  padding: 0 5px;
}

.done-item {
  text-decoration: line-through;
  color: rgb(205, 205, 205);
}

.item-content:hover {
  cursor: pointer;
}
